<%- include('header') %>
<DIV class="conteudo">
<h1>Currículo</h1>
    <DIV class="linha">
        <label>Nome:</label>
        <span>Rogério Fabrício de Almeida Santos</span>
    </DIV>
    <DIV class="linha">
        <label>Idade:</label>
        <span>41 anos</span>
    </DIV>
    <DIV class="linha">
        <label>Residente:</label>
        <span>Feira de Santana - Bahia</span>
    </DIV>
    <DIV class="linha">
        <label>E-mail:</label>
        <span>rogeriofabricio.dev@gmail.com</span>
    </DIV>
    <DIV class="linha">
        <label>Celular (Whatsapp):</label>
        <span>(75) 9 9231 1548</span>
    </DIV>
    <h1>Formação</h1>
    <DIV class="linha">
        <label>Instituição de Ensino:</label>
        <span>UNIP - Universidade Paulista</span>
    </DIV>
    <DIV class="linha">
        <label>Curso:</label>
        <span>Analise e Desenvolvimento de Sistemas (Ead)</span>
    </DIV>
    <DIV class="linha">
        <label>Semestre:</label>
        <span>2º Semestre</span>
    </DIV>
    <h1>Experiências</h1>
    <DIV class="linha">
        <label>-</label>
        <span>Php / MySQL / HTML / CSS</span>
    </DIV>
    <DIV class="linha">
        <label>-</label>
        <span>Android (Nativo)</span>
    </DIV>
    <DIV class="linha">
        <label>-</label>
        <span>iOS (Nativo)</span>
    </DIV>
</DIV>
<%- include('footer') %>